<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime executionTimeout="1800" targetFramework="4.8" /> 
    <!-- 1,800: 30 minutes: Azure limit 230 seconds by networking -->
  </system.web>
  <appSettings>
	<add key="web" value="********" />
	<add key="prod" value="********" />
	<add key="sleep" value="300000" />     <!-- 300,000: 5 minutes -->
  </appSettings>
</configuration>